<template>
	<div class="animate-pulse grid grid-cols-12 my-10 gap-16">
		<div class="bg-gray-200 rounded col-span-3"></div>
		<div class="col-span-9">
			<div class="bg-gray-200 rounded col-span-9 h-10 mb-4"></div>
			<div class="bg-gray-200 rounded col-span-9 h-10 mb-4"></div>
			<div class="bg-gray-200 rounded col-span-9 h-10 mb-4"></div>
			<div class="bg-gray-200 rounded col-span-9 h-10 mb-4"></div>
			<div class="bg-gray-200 rounded col-span-9 h-10 mb-4"></div>
			<div class="bg-gray-200 rounded col-span-9 h-10 mb-4"></div>
			<div class="bg-gray-200 rounded col-span-9 h-10 mb-4"></div>
		</div>
	</div>
</template>

<script>
export default {};
</script>

<style>
</style>