<template>
	<div>
		<div class="bg-gray-300 p-6 px-10 rounded-xl flex items-center">
			Search by release date :
			<input
				type="text"
				class="ml-2 h-8 outline-none px-2 rounded-sm custom-input"
				placeholder="select date"
			/>
			<date-picker
				v-model="release_date"
				range
				locale="en"
				format="YYYY-MM-DD"
				custom-input=".custom-input"
			/>
			<rounded-button
				class="ml-auto"
				title="Search"
				@click="release_date.length && changePage(1)"
			/>
		</div>

		<ListLoader v-if="loading" />
		<div
			class="grid grid-cols-3 gap-16 mt-10"
			v-else-if="movies.length != 0"
		>
			<movie-item
				v-for="item in movies"
				:key="item.id"
				:movie="item"
				:genres="genres"
			></movie-item>
		</div>
		<div v-else class="text-center mt-10">the movie list is empty</div>

		<div class="mt-20 flex justify-center items-center">
			<button
				@click="changePage(page - 1)"
				:disabled="page == 1"
				:class="
					page == 1
						? 'text-gray-400'
						: 'hover:bg-blue-200 transition-all rounded-md'
				"
				class="px-3 p-1"
			>
				Pervious Page
			</button>
			<div class="mx-3 bg-gray-500 h-7" style="width: 2px"></div>
			<button
				@click="changePage(page + 1)"
				class="hover:bg-blue-200 px-3 p-1 transition-all rounded-md"
			>
				next Page
			</button>
		</div>
		<div class="text-center text-xs text-gray-400 mt-2">
			show results {{ page * 20 - 19 }}- {{ page * 20 }}
		</div>
	</div>
</template>

<script>
import MovieItem from "../components/movie/MovieItem.vue";
import ListLoader from "../components/loader/ListLoader.vue";
import RoundedButton from "../components/ui/RoundedButton.vue";
import Api from "../api";
export default {
	data: () => {
		return {
			loading: false,
			release_date: [],
			movies: [],
			page: 1,
			total_pages: 0,
			genres: [],
		};
	},
	components: {
		MovieItem,
		ListLoader,
		RoundedButton,
	},
	mounted() {
		this.fetchMovies();
		this.fetchGenres();
	},
	methods: {
		async fetchMovies() {
			this.loading = true;
			this.movies = [];
			await Api.getInstance()
				.MoviesService()
				.movieList(this.page, this.release_date)
				.then((res) => {
					this.movies = res.data.results;
					this.total_pages = res.data.total_pages;
				})
				.catch((err) => {});
			this.loading = false;
		},
		changePage(page) {
			this.page = page;
			this.fetchMovies();
		},
		async fetchGenres() {
			await Api.getInstance()
				.MoviesService()
				.genreList()
				.then((res) => {
					this.genres = res.data.genres;
				})
				.catch((err) => {});
		},
	},
};
</script>

<style lang="css" scoped>
</style>