<template>
	<div v-if="data">
		<div class="bg-gray-300 p-5 px-10 rounded-xl flex items-center">
			<rounded-button
				class="mr-4"
				title="Back"
				@click="$router.push({ name: 'MovieList' })"
			>
				<font-awesome-icon icon="arrow-left" class="mr-1" />
			</rounded-button>
			<div>
				<div class="font-bold">{{ data.title }}</div>
				<div>{{ data.tagline }}</div>
			</div>
		</div>

		<div class="grid grid-cols-12 my-10 gap-5">
			<div class="bg-gray-100 col-span-3 rounded-lg overflow-hidden">
				<img
					class="object-cover"
					:src="`https://image.tmdb.org/t/p/w500/${data.poster_path}`"
					:alt="data.title"
				/>
			</div>
			<div class="col-span-9 px-16 pt-5">
				<info title="Budget" :value="`$ ${$delimiter(data.budget)}`" />
				<info
					title="Revenue"
					:value="`$ ${$delimiter(data.revenue)}`"
				/>
				<info title="Release Date" :value="data.release_date" />
				<info title="Runtime" :value="runTime" />
				<info title="Score">
					<rating
						:average="data.vote_average"
						:total="data.vote_count"
					/>
					<!-- <div>
						{{ data.vote_average }}
						<span class="text-xs">
							({{ data.vote_count }} votes)
						</span>
					</div> -->
				</info>
				<info title="Genres">
					<div class="text-xs">
						<span
							v-for="(genre, index) in data.genres"
							:key="genre.id"
						>
							{{ genre.name }}
							<span v-if="index + 1 != data.genres.length">
								,
							</span>
						</span>
					</div>
				</info>
				<info title="IMDB Link">
					<a
						:href="`https://www.imdb.com/title/${data.imdb_id}`"
						class="text-blue-500 underline"
						target="_blank"
					>
						Link
					</a>
				</info>
				<info title="Homepage Link">
					<a
						:href="data.homepage"
						class="text-blue-500 underline"
						target="_blank"
					>
						Link
					</a>
				</info>
			</div>
		</div>

		<div>
			{{ data.overview }}
		</div>

		<div class="mt-16">
			<div class="font-bold text-lg">Credit</div>
			<div class="text-xs">
				<span v-for="(cast, index) in sortedCredits" :key="cast.id">
					{{ cast.original_name }}
					<span v-if="index + 1 != sortedCredits.length"> , </span>
				</span>
				<span v-if="credits.length > 10">
					and {{ credits.length - 10 }} more
				</span>
			</div>
		</div>
	</div>
	<div v-else>
		<loader-full></loader-full>
	</div>
</template>

<script>
import Api from "../api";
import Info from "../components/movie/Info.vue";
import Full from "../components/loader/Full.vue";
import Rating from "../components/movie/Rating.vue";
import RoundedButton from "../components/ui/RoundedButton.vue";
export default {
	data: () => {
		return {
			data: null,
			credits: [],
		};
	},
	mounted() {
		this.fetchMovieDetail();
	},
	components: { Info, "loader-full": Full, Rating, RoundedButton },
	methods: {
		async fetchMovieDetail() {
			let movieId = this.$route.params.id;
			let [detail, credits] = await Promise.all([
				await Api.getInstance().MoviesService().movieDetail(movieId),
				await Api.getInstance().MoviesService().movieCredits(movieId),
			]);
			this.data = detail.data;
			this.credits = credits.data.cast;
		},
	},
	computed: {
		runTime() {
			if (!this.data) return "";

			let hour = this.data.runtime / 60;
			let min = this.data.runtime % 60;
			let message = "";
			if (hour) {
				message = `${hour.toFixed()}h `;
			}
			if (min) {
				message = message + `${min}m`;
			}
			return message;
		},
		sortedCredits() {
			let sortedList = this.credits.sort(
				(firstItem, secondItem) =>
					secondItem.popularity - firstItem.popularity
			);
			return sortedList.slice(0, 10);
		},
	},
};
</script>

<style scoped>
</style>