<template>
	<div
		class="
			flex
			justify-between
			items-center
			p-2
			hover:bg-gray-100
			transition-all
			rounded-md
		"
	>
		<div class="font-bold flex-1">{{ title }}</div>
		<div>{{ value }}</div>
		<slot></slot>
	</div>
</template>

<script>
export default {
	props: {
		title: { default: "" },
		value: { default: "" },
	},
};
</script>

<style>
</style>