<template>
	<div
		@click="$router.push({ name: 'Movie', params: { id: movie.id } })"
		class="
			cursor-pointer
			bg-gray-200
			flex
			rounded-md
			overflow-hidden
			border border-gray-300
			hover:scale-105 hover:shadow-md
			transition-all
		"
	>
		<div class="w-56 h-48">
			<img
				class="object-cover"
				:src="`https://image.tmdb.org/t/p/w500/${movie.poster_path}`"
				:alt="movie.title"
			/>
		</div>
		<div class="p-4 flex flex-col w-full">
			<div class="font-bold">{{ movie.title }}</div>
			<div class="mt-auto text-xs text-gray-600">
				<font-awesome-icon icon="calendar" class="mr-1" />
				{{ movie.release_date }}
			</div>
			<div class="text-xs mt-2 flex flex-wrap">
				<div
					v-for="(item, index) in movieGenres"
					:key="index"
					class="mr-1 text-gray-600"
				>
					{{ item }}
					<span
						v-if="index + 1 != movieGenres.length"
						class="inline-flex w-1 h-1 rounded-full bg-black mb-0.5"
					></span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		movie: { default: () => {} },
		genres: { default: () => [] },
	},
	computed: {
		movieGenres() {
			let list = [];
			this.movie.genre_ids.map((el) => {
				let genre = this.genres.find((genre) => el == genre.id);
				if (genre) list.push(genre.name);
			});
			return list;
		},
	},
};
</script>

<style>
</style>