<template>
	<div class="flex flex-1 justify-end items-center rating group-hover: group">
		<span
			class="
				text-xs
				votes
				translate-x-full
				group-hover:-translate-x-3
				transition
				text-cyan-600
				font-bold
			"
		>
			from {{ $delimiter(total) }} votes
		</span>
		<div
			class="
				overflow-hidden
				w-2/3
				rounded-md
				h-8
				ring-2 ring-cyan-500
				z-10
				bg-white
			"
		>
			<div
				class="
					h-full
					flex
					justify-center
					items-center
					bg-gradient-to-r
					from-cyan-500
					to-blue-400
					text-white
				"
				:style="`width: ${average * 10}%`"
			>
				{{ average * 10 }}%
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		average: { default: 0 },
		total: { default: 0 },
	},
};
</script>

<style scoped>
/* .rating .votes {
	transform: translateX(100%);
	transition: all 0.3s;
}
.rating:hover .votes {
	transform: translateX(-10%);
} */
</style>