<script setup>
</script>

<template>
	<div class="bg-green-700 p-6" @click="$router.push('About')"></div>
	<div class="container px-32 py-10 pb-14">
		<router-view></router-view>
	</div>
</template>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	font-size: 0.9rem;
}
.vpd-controls button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.vpd-month-label {
	width: 70% !important;
}
</style>
