<template>
	<div
		class="
			bg-blue-500
			rounded-full
			cursor-pointer
			text-white
			px-3
			py-1
			hover:scale-105
			transition
		"
		@click="$emit('click')"
	>
		<slot></slot>
		{{ title }}
	</div>
</template>

<script>
export default {
	props: {
		title: { default: "" },
	},
};
</script>

<style>
</style>